@media only screen and (max-width: 1750px){

    .main-conteiner {
        position: relative;
        width: 42%;
        background-color: #fff;
        border-radius: 10px;
        top: 55%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    
    .main-conteiner .game-name {
        margin-top: -50px;
        position: absolute;
        font-family: Poppins;
        color: #fff;
    }
    
    .main-conteiner .guy-image {
        position: absolute;
        right: 0;
        top: -15%;
    }
    
    .main-conteiner .game-control {
        position: relative;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        display: block;
        height: 450px;
    }
    
    .game-control .question {
        width: 100%;
        position: relative;
        margin: 25px 0;
        margin-top: 0;
        font-family: Poppins, sans-serif;
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    
    .question .flag {
        width: 84px;
        height: 54px;
        display: block;
        margin-top: 50px;
        border: 1px solid #ddd;
    }
    
    .question .question-text {
        color: #1D355D;
        line-height: 1.6;
        font-size: 22px;
        margin-top: 15px;
        font-weight: 700;
    }
    
    .answer-options {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }
    
    .answer-options .answer-option {
        border: 1px solid #1D355D;
        border-radius: 12px;
        margin: 10px 0;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .answer-options .answer-option .country-name {
        color: #1D355D;
        font-size: 18px;
        display: block;
        text-align: left;
        width: 85%;
    }
    
    .answer-options .answer-option .line {
        width: 10%;
        text-align: center;
        font-size: 18px;
        color: #1f1f1f;
    }
    
    .main-controller {
        position: relative;
        display: flex;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .main-controller p {
        display: block;
        position: relative;
        border-radius: 5px;
        color: #ffffff;
        margin: 0px 5px;
        padding: 5px 19px;
        font-size: 25px;
        font-family: Poppins;
        text-align: center;
        font-weight: 700;
    }
    
    .corrects {
        background-color: var(--win-color);
    }
    
    .wrongs {
        background-color: #e92300ea;
    }
    .btn-exit{
        position: absolute;
        right: 0;
        border-radius: 5px;
        height: 100%;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 900;
        background-color: #e92300bb;
        color: #fff;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }
    .btn-exit:hover{
        background-color: #e92300ef;
    }
}
@media only screen and (max-width: 750px){
    .main-conteiner{
        width: 95%;
    }
    .main-conteiner .guy-image{
        position: relative;
        height: 1px;

    }
    .main-conteiner .game-control{
        margin-bottom: 50px;
        width: 90%;
    }
    .main-controller{
        width: 90%;
    }
}
